<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xl.canary.mapper.PayOrderMapper">

    <select id="getByPayOrderId" resultType="com.xl.canary.entity.PayOrderEntity">
        select * from t_canary_pay_order WHERE pay_order_id = #{payOrderId}
    </select>

</mapper>